@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Titillium+Web:wght@200;300;400;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;1,400&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding:0;
}

html{
    scroll-behavior: smooth;
    background-color: #1e2326;
    /* background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/fondo.webp); */
}

/*Menu*/


.cont-header{
    background: #1e2326;
    position: fixed;
    width:100%;
    top:0;
    left:0;
    z-index: 99;
}

.cont-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.cont-header header .log a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #FE642E;
    text-decoration: none;
}

.cont-header header ul{
    display:flex;
    list-style: none;
}

.cont-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.cont-header header nav ul li a:hover{
    color:#FE642E;
}

.nav-responsive{
    background-color: #FE642E;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor:pointer;
    display: none;
}

/*inicio*/

.ini{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/fondo.webp);
    background-size: cover;
    height: 100vh;
    color:#fff;
    display:flex;
    align-items: center;
}

.ini .cont-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.ini .cont-banner img{
    margin-top: 40px;
    border:5px solid #FE642E;
    display: block;
    width: 80%;
    margin:auto;
    border-radius: 100%;
}

.ini .cont-banner h1{
    margin-top:40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.ini .cont-banner h2{
    font-size: 15px;
    font-weight:normal;
}

.ini .cont-banner .red a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.ini .cont-banner .red a:hover{
    color: #FE642E;
}

.aboutme{
    background-color: #1e2326;
    color:#fff;
    padding: 50px 20px;
    display:flex;
    
}

.aboutme cont-secc{
    max-width: 1100px;
    margin:auto;
}

.aboutme h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.aboutme .cont-secc p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.aboutme .cont-secc p span{
    color:#FE642E;
    font-weight: bold;
}

.aboutme .aboutmerow{
    display: flex;
}

.aboutme .aboutmerow .col{
    width: 50%;
}

.aboutme .aboutmerow .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.aboutme .aboutmerow .col ul{
    list-style: none;
}

.aboutme .aboutmerow .col ul li{
    margin: 12px 0;
}

.aboutme .aboutmerow .col ul li strong{
    display:inline-block;
    color:#FE642E;
    width:130px
}

.aboutme .aboutmerow .col ul li span{
    background-color: #FE642E;
    padding:3px;
    font-weight: bold;
    border-radius: 5px;
}

.aboutme .aboutmerow .col .con-inter{
    display:flex;
    flex-wrap: wrap;
}

.aboutme .aboutmerow .col .con-inter .inter{
    width:100px;
    height:100px;
    background-color: #b62e1c;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.aboutme .aboutmerow .col .con-inter .inter:hover{
    background-color: #FE642E;
}

.aboutme .aboutmerow .col .con-inter .inter i{
    font-size: 30px;
    margin-bottom:10px;
}
.aboutme button{
    cursor:pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index:10;
}

.aboutme button .overlay{
    position:absolute;
    top:0;
    left:0;
    width: 0;
    height:100%;
    background-color: #FE642E;
    z-index: -1;
    transition: 1s;
}


.aboutme button:hover .overlay{
    width: 100%;
}

.skills{
    background-color: #252A2E;
    color:#fff;
    padding: 50px 20px;
    
}

.skills con-sec-skills{
    max-width: 1100px;
    margin:auto;
}

.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.skills .fila{
    display:flex;
}

.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .bar-skill{
    height:8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom:30px;
}

.skills .skill .progres{
    background-color: #FE642E;
    position:absolute;
    top:0;
    left: 0;
    height:8px;
}

.skills .skill .bar-skill span{
    position:absolute;
    height: 40px;
    width: 40px;
    background-color: #FE642E;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript{
    0%{width: 0%;}
    100%{width: 70%}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss{
    0%{width: 0%;}
    100%{width: 78%}
}


.skills .skill .salesforce{
    width: 0%;
    animation: 2s salesforce forwards;
}

@keyframes salesforce{
    0%{width: 0%;}
    100%{width: 75%}
}

.skills .skill .java{
    width: 0%;
    animation: 2s java forwards;
}

@keyframes java{
    0%{width: 0%;}
    100%{width: 69%}
}

.skills .skill .typescriptangular{
    width: 0%;
    animation: 2s typescriptangular forwards;
}

@keyframes typescriptangular{
    0%{width: 0%;}
    100%{width: 40%}
}

.skills .skill .pythontkinter{
    width: 0%;
    animation: 2s pythontkinter forwards;
}

@keyframes pythontkinter{
    0%{width: 0%;}
    100%{width: 80%}
}

.skills .skill .teamwork{
    width: 0%;
    animation: 2s teamwork forwards;
}

@keyframes teamwork{
    0%{width: 0%;}
    100%{width: 79%}
}

.skills .skill .communication{
    width: 0%;
    animation: 2s communication forwards;
}

@keyframes communication{
    0%{width: 0%;}
    100%{width: 88%}
}

.skills .skill .autodidact{
    width: 0%;
    animation: 2s autodidact forwards;
}

@keyframes autodidact{
    0%{width: 0%;}
    100%{width: 95%}
}

.skills .skill .dedicated{
    width: 0%;
    animation: 2s dedicated forwards;
}

@keyframes dedicated{
    0%{width: 0%;}
    100%{width: 99%}
}

.skills .skill .friendly{
    width: 0%;
    animation: 2s friendly forwards;
}

@keyframes friendly{
    0%{width: 0%;}
    100%{width: 90%}
}


/*cv css*/


.cv{
    background-color: #1e2326;
    color:#fff;
    padding: 50px 20px;
    display: flex;
    
}

.cv .con-sec-cv{
    max-width: 1100px;
    margin:auto;
}

.cv h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.cv .fila{
    display:flex;
    justify-content: space-between;
}

.cv .fila .col{
    width: 49%;
    padding: 0 30px;
}

.cv .fila .col h3{
    font-size:28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.cv .fila .lefts{
    border-right: 2px solid #252A2E;
}

.cv .fila .rights{
    border-left: 2px solid #252A2E;
}

.cv .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}

.cv .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.cv .fila .item .home{
    color: #FE642E;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.cv .fila .item .date{
    display:block;
    color: #b62e1c;
    margin-bottom: 10px;
}

.cv .fila .item  p{
    line-height: 24px;
}

.cv .fila .left{
    border-right: 2px solid #FE642E;
    margin-right: 20px;
}

.cv .fila .right{
    border-left: 2px solid #FE642E;
    margin-left: 20px;
}

.cv .fila .item .conecti{
    height: 3px;
    background-color: #FE642E;
    width: 58px;
    position: absolute;
    top: 50%;
    left: 100%;
    z-index: 5;
}

.cv .fila .item .conecti .circlei{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #FE642E;
    float: right;
    position: relative;
    bottom: 4px;
}

.cv .fila .item .conectd{
    height: 3px;
    background-color: #FE642E;
    width: 58px;
    position: absolute;
    top: 55%;
    right: 100%;
    z-index: 5;
}

.cv .fila .item .conectd .circled{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #FE642E;
    float: left;
    position: relative;
    bottom: 4px;
}

/*portfolio*/

.portfolio{
    background-color: #252A2E;
    color:#fff;
    padding: 50px 20px;
    
}

.portfolio .cont-sec-port{
    max-width: 1100px;
    margin:auto;
}

.portfolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.portfolio .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .gallery .project{
    position: relative;
    max-width: 350px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portfolio .gallery .project img{
    width: 140%;
    display: block;
    object-fit: cover;
}

.portfolio .gallery .project .overlay{
    position: absolute;
    top: 0;
    width: 140%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(182, 85, 28, 0.747), rgba(182, 85, 28, 0.747));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.portfolio .gallery .project .overlay h3{
    margin-bottom: 20px;
    transform: 1s;
}

.portfolio .gallery .project .overlay:hover{
    opacity: 1;
}

.portfolio .gallery .project .overlay:hover h3{
    transition: 1s;
    margin-bottom: 0;
}

/*Contact*/

.contact{
    background-image: url(img/contactus2.jpg);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}

.contact .cont-sec-contact{
    max-width: 1100px;
    margin:auto;
}

.contact h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contact .fila{
    display: flex;
}

.contact .col{
    width: 50%;
    padding: 10px;
    position: relative;
}

.contact .col input, .contact .col textarea{
    display:block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 17px;
}

.contact button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contact button .overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #FE642E;
    z-index: -1;
    transition: 2s;
}

.contact button:hover .overlay{
    width: 100%;
}

.contact .col img{
    width: 100%;
}

.contact .col .info{
    position: relative;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -258%);
}

.contact .col .info ul{
    list-style: none;
}

.contact .col .info ul li{
    margin-bottom: none;
}

.contact .col .info ul li i{
    color: #FE642E;
    display: inline-block;
    margin-right: 10px;
}

/*footer*/

footer{
    background-color: #252A2E;
    color:#fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .red{
    margin-bottom: 20px;
}

footer .red a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .up{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #FE642E;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/*Responsive*/

@media screen and (max-width: 900px) {
    nav{
        display:none;
    }
    .ini{
        flex-direction: column;
    }
    .nav-responsive{
        display:block;
    }

    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }

    nav.responsive ul{
        display: block !important;
    }

    nav.responsive ul li{
        border-bottom: 1px solid #FE642E;
        padding: 10px 0;
    }  
}

@media screen and (max-width:700px){
    .aboutme .aboutmerow{
        display: block;
    }

    .aboutme .aboutmerow .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }

    .skills .fila .col{
        width: 100%;
    }

    .skills .fila .col .bar-skill{
        width: 100;
    }

    .cv .fila{
        display: block;
    }

    .cv .fila .col{
        width: 90%;
    }

    .cv .fila .right{
        margin-left: 20px;
    }

    .portfolio .gallery{
        display: block;
        width: 100%;
    }

    .portfolio .gallery .project{
        max-width: 100%;
    }

    .portfolio .gallery .project img{
        width: 100%;
    }

    .contact .fila{
        display: block;
    }

    .contact .fila .col{
        width: 100%;
    }


}

